{% extends "registration/base.html" %}
{% load i18n compressed %}


{% block reg_content %}
  <h1>Login</h1>
  <form action="." method="POST">
    {% csrf_token %} 

    <span class="right">
      <a href="{% url 'registration_register' %}" title='{% trans "Register new account" %}'>{% trans "Don't have?" %}</a>
    </span>
    {{ form.username.label_tag }}
    {{ form.username.errors }}
    <input type="text" id='id_{{ form.username.name }}' name='{{ form.username.name }}' pattern="[a-zA-Z]{1}[a-zA-Z@.+-_#]*" value="{% if form.username.value %}{{ form.username.value }}{% endif %}" placeholder="{% trans "Username" %}" tabindex=1 autofocus required>

    <span class="right">
      <a href="{% url 'auth_password_reset' %}" title='{% trans "Reset password" %}' tabindex=4>{% trans "Forgot?" %}</a>
    </span>
    {{ form.password.label_tag }}
    {{ form.password.errors }}
    <input type="password" id='id_{{ form.password.name }}' name='{{ form.password.name }}' value="{% if form.password.value %}{{ form.password.value }}{% endif %}" placeholder="{% trans "Password" %}" tabindex=2 required>

    <input type="hidden" name="next" value="{{ next }}">

    <div class="buttons">
      <input type="submit" tabindex=3 value="{% trans 'Log in' %}">
    </div>
  </form>
{% endblock %}
