{% extends "registration/base.html" %}
{% load i18n %}

{% block reg_content %}
<form method="post" action=".">
  {% csrf_token %} 

  {{ form.old_password.label_tag }}
  {{ form.old_password.errors }}
  <input type="password" id='id_{{ form.old_password.name }}' name='{{ form.old_password.name }}' value="" placeholder="{% trans "Old password" %}" autofocus required>

  {{ form.new_password1.label_tag }}
  {{ form.new_password1.errors }}
  <input type="password" id='id_{{ form.new_password1.name }}' name='{{ form.new_password1.name }}' value="{% if form.new_password1.value %}{{ form.new_password1.value }}{% endif %}" placeholder="{% trans "New Password" %}" required>

  {{ form.new_password2.label_tag }}
  {{ form.new_password2.errors }}
  <input type="password" id='id_{{ form.new_password2.name }}' name='{{ form.new_password2.name }}' value="{% if form.new_password2.value %}{{ form.new_password2.value }}{% endif %}" placeholder="{% trans "New Password (Again)" %}" required>

  <div class="buttons">
    <button onclick="javascript:window.history.back(-1);return false;">{% trans 'Back' %}</button>
    <button type="submit">{% trans 'Change' %}</button>
  </div>
</form>
{% endblock %}
