{% extends "registration/base.html" %}
{% load i18n %}

{% block reg_content %}
<form method="post" action=".">
    {% csrf_token %} 

    <span class="right">
      <a href="{% url 'registration_register' %}" title='{% trans "Register new account" %}'>{% trans "Don't have?" %}</a>
    </span>
    {{ form.email.label_tag }}
    {{ form.email.errors }}
    <input type="text" id='id_{{ form.email.name }}' name='{{ form.email.name }}' pattern="[a-zA-Z]{1}[a-zA-Z@.+-_#]*" value="{% if form.email.value %}{{ form.email.value }}{% endif %}" placeholder="{% trans "Username" %}" autofocus required>

  <div class="buttons">
      <input type="submit" value="{% trans 'Send request' %}">
  </div>
</form>
{% endblock %}
