{% extends "registration/base.html" %}
{% load i18n staticfiles compressed %}


{% block title %}{% trans "Register" %} — {{ block.super }}{% endblock title %}


{% block reg_content %}
  <h1>{% trans "Register" %}</h1>
  <form action="." method="POST">
    {% csrf_token %}

    {{ form.username.label_tag }}
    {{ form.username.errors }}
    <input type="text" id='id_{{ form.username.name }}' name='{{ form.username.name }}' pattern="[a-zA-Z]{1}[a-zA-Z@.+-_#]*" value="{% if form.username.value %}{{ form.username.value }}{% endif %}" placeholder="{% trans "Username" %}" autofocus required>

    {{ form.email.label_tag }}
    {{ form.email.errors }}
    <input type="email" id='id_{{ form.email.name }}' name='{{ form.email.name }}' value="{% if form.email.value %}{{ form.email.value }}{% endif %}" placeholder="{% trans "Email" %}" required>

    {{ form.password1.label_tag }}
    {{ form.password1.errors }}
    <input type="password" id='id_{{ form.password1.name }}' name='{{ form.password1.name }}' value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}" placeholder="{% trans "Password" %}" required>

    {{ form.password2.label_tag }}
    {{ form.password2.errors }}
    <input type="password" id='id_{{ form.password2.name }}' name='{{ form.password2.name }}' value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}" placeholder="{% trans "Password" %}" required>

    <div class="buttons">
      <button onclick="javascript:window.history.back(-1);return false;">{% trans 'Back' %}</button>
      <button type="submit">{% trans 'Register' %}</button>
    </div>
  </form>
{% endblock %}
