/*
 * Form styles
 * Author: Gordienko Oleg aka Gordio - me[at]gordio.pp.ua
 */
	/*font: 1em "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/


button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

button,
input,
select,
textarea {
	outline: 0;
}

fieldset {
	margin-bottom: 1rem;
	border: 1px solid #AAA;
	border-radius: 0.2rem;
}


/* Fields */
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="search"],
input[type="url"],
input[type="datetime"],
input[type="week"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="number"],
input[type="range"],
input[type="color"],
input[type="email"],
textarea,
select {
	display: block;
	margin: 0;
	margin-bottom: 0.5rem;
	padding: 0.35em 0.5em 0.3em;
	width: 100%;
	min-width: 2em;
	color: #444;
	background: #FFF;
	border: 1px solid #BBB;


	-webkit-border-radius: 0.125rem;
	border-radius: 0.125rem;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

textarea {
	font-family: sans-serif;
	min-height: 4em;
}

input[type="file"],
select {
	margin-bottom: 1rem;
	padding: 0.125em 0.25em;
	background: #EEE;

	background: -webkit-linear-gradient(#F8F8F8, #DFDFDF);
	background: linear-gradient(#F8F8F8, #DFDFDF);

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input[type="tel"].half,
input[type="search"].half,
input[type="url"].half,
input[type="datetime"].half,
input[type="week"].half,
input[type="datetime-local"].half,
input[type="date"].half,
input[type="month"].half,
input[type="time"].half,
input[type="number"].half,
input[type="range"].half,
input[type="color"].half,
input[type="text"].half,
input[type="password"].half,
input[type="email"].half,
select.half,
textarea.half {
	width: 50%;
}

input[type="tel"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
input[type="datetime"]:focus,
input[type="week"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="number"]:focus,
input[type="range"]:focus,
input[type="color"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {
	color: #333;
	border: 1px solid #888;

	-webkit-box-shadow: 0 0 0.0.35rem rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 0.35rem rgba(0, 0, 0, 0.2);
}

input[type="tel"]:read-only,
input[type="search"]:read-only,
input[type="url"]:read-only,
input[type="datetime"]:read-only,
input[type="week"]:read-only,
input[type="datetime-local"]:read-only,
input[type="date"]:read-only,
input[type="month"]:read-only,
input[type="time"]:read-only,
input[type="number"]:read-only,
input[type="range"]:read-only,
input[type="color"]:read-only,
input[type="text"]:read-only,
input[type="password"]:read-only,
input[type="email"]:read-only,
textarea:read-only,
select:read-only {
	color: #888;
	border-color: #DDD;
	background: #F5F5F5;
	opacity: 0.8;
}

label {
	display: block;
	font-weight: normal;
	margin-bottom: 0.125em;
}

input[type="checkbox"] {
	display: inline;
}


/* HTML5 Fields status */
input[type="tel"]:invalid:focus,
input[type="search"]:invalid:focus,
input[type="url"]:invalid:focus,
input[type="datetime"]:invalid:focus,
input[type="week"]:invalid:focus,
input[type="datetime-local"]:invalid:focus,
input[type="date"]:invalid:focus,
input[type="month"]:invalid:focus,
input[type="time"]:invalid:focus,
input[type="number"]:invalid:focus,
input[type="range"]:invalid:focus,
input[type="color"]:invalid:focus,
input[type="text"]:invalid:focus,
input[type="password"]:invalid:focus,
input[type="email"]:invalid:focus,
textarea:invalid:focus {
	border-color: #A00;

	-webkit-box-shadow: 0 0 0.0.25rem rgba(200, 0, 0, 0.125);
	box-shadow: 0 0 0.25rem rgba(200, 0, 0, 0.125);
}

input[type="tel"]:valid:focus,
input[type="search"]:valid:focus,
input[type="url"]:valid:focus,
input[type="datetime"]:valid:focus,
input[type="week"]:valid:focus,
input[type="datetime-local"]:valid:focus,
input[type="date"]:valid:focus,
input[type="month"]:valid:focus,
input[type="time"]:valid:focus,
input[type="number"]:valid:focus,
input[type="range"]:valid:focus,
input[type="color"]:valid:focus,
input[type="text"]:valid:focus,
input[type="password"]:valid:focus,
input[type="email"]:valid:focus,
textarea:valid:focus {
	border-color: #0A0;

	-webkit-box-shadow: 0 0 0.0.25rem rgba(0, 200, 0, 0.125);
	box-shadow: 0 0 0.25rem rgba(0, 200, 0, 0.125);
}


/* Buttons */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	margin: 0;
	padding: 0.35em 0.75em;
	color: #222;
	background: #EEE;
	border: 1px solid #AAA;

	background: -webkit-linear-gradient(#F8F8F8, #DFDFDF);
	background: linear-gradient(#F8F8F8, #DFDFDF);

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-border-radius: 0.125rem;
	border-radius: 0.125rem;
}

input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
button:focus {
	border: 1px solid #888;

	-webkit-box-shadow: 0 0 0.0.35rem rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 0.35rem rgba(0, 0, 0, 0.25);
}

input[type="submit"]:enabled:active,
input[type="reset"]:enabled:active,
input[type="button"]:enabled:active,
button:enabled:active {
	background: #DDD;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);


	-webkit-box-shadow: inset 0 0.25rem 0.25rem -0.125rem rgba(0, 0, 0, .2), 0 0 0.0.35rem rgba(0, 0, 0, 0.25);
	box-shadow: inset 0 0.25rem 0.25rem -0.125rem rgba(0, 0, 0, .2), 0 0 0.35rem rgba(0, 0, 0, 0.25);
}

input[type="submit"]:disabled,
input[type="reset"]:disabled,
input[type="button"]:disabled,
button:disabled {
	color: #888;
	opacity: 0.8;
}

form div.buttons {
	text-align: right;
}

form div.buttons input + input,
form div.buttons input + button,
form div.buttons button + input {
	margin-left: 0.5rem;
}
