{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} - {% trans 'Admin Panel' %}{% endblock %}

{% block branding %}
  <h1 id="site-name"><a href="/">{% trans '{{ project_name }}' %}</a></h1>
{% endblock %}

{% block extrastyle %}
  <style>
    body {
      font: 100% "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      background: #555;
    }


    #header {
      background-color: #403F3D;
      border-bottom: 0.20rem solid #FBC24E;
    }

    #branding #site-name a {
      padding: 0 0.25em;
      color: #FBC24E;
      font-size: 1.75em;
      text-shadow: 0 2px 0 #000, 0 0 0.75rem #FC4;
    }
    #user-tools {
      padding: 1.65em;
      font-size: 0.75em;
    }

    #container {
      margin: 0 auto;
      margin-bottom: 1em;
      width: 90%;
      min-width: 52rem;
      max-width: 90rem;
      min-height: 30rem;
      background: #FAFAFA;

      border-radius: 0 0 0.25rem 0.25rem;
      box-shadow: 0 0 0.5rem #000;
    }

    .breadcrumbs {
      font-size: 0.8rem !important;
    }
    .breadcrumbs * {
      font-size: inherit !important;
    }

    .module h2 {
      padding: 0.35em 0.5em !important;
      font-size: 1rem;

      background: #F0F0F0;
      background: linear-gradient(#FFF, #F0F0F0) !important;
    }
    .module h2,
    .module caption,
    .inline-group h2 {
    }

    div.module table caption {
      padding: 0.35em 0.5em;
      text-shadow: 0 0 1px #FFF;
      font-size: 0.95rem;

      background: #EAEAEA;
      background: linear-gradient(#FAFAFA, #EAEAEA);
    }
    a.section:link,
    a.section:visited {
      color: #555;
    }

    .module,
    .module table,
    .module table caption,
    .module h2 {
      border-radius: 0.25rem 0.25rem 0 0 !important;
    }

    /* Thumbnail admin widget */
    .column-image_thumb {
      width: 1%;
    }
  </style>
{% endblock %}

{% block nav-global %}{% endblock %}
