{% load i18n staticfiles compressed %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% trans "SMK-Vision Task" %}{% endblock title %}</title>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

  {# Use {{ block.super }} in relative templates #}
  {% block head %}
  {% compressed_css 'main' %}
  {% compressed_js 'main' %}
  {% endblock head %}
</head>
<body>

  <div class="wrapper">

    <header class="header">
      {% include "nav.html" %}
    </header>

    <div class="middle">
      <div class="container">
        <main class="content">
          {# Django messages framework #}
          {% if messages %}
          <section class="messages">
            {% for message in messages %}
            <div class="message{% if message.tags %} {{ message.tags }}{% endif %}">
              {{ message }}
            </div>
            {% endfor %}
          </section>
          {% endif %}

        {% block content %}
        {% endblock content %}
        </main>
      </div>

      <aside class="left_sidebar">
      {% block left_sidebar %}
      {% endblock left_sidebar %}
      </aside>

      <aside class="right_sidebar">
      {% block right_sidebar %}
      {% endblock right_sidebar %}
      </aside>
    </div>
  </div>

  <footer class="footer">
    <p>Created by <a href="http://gordio.pp.ua/">Gordio</a> <span class="right">2014 Creative Commons</span></p>
  </footer>

</body>
</html>
