{% extends 'userena/base_profile.html' %}
{% load i18n %}
{% load url from future %}


{% block title %}{% trans "Account setup" %}{% endblock %}

{% block content %}
<h1>{% trans "Edit Profile" %}</h1>
<form action="" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  
  {{ form.non_field_errors }}

  {% for field in form %}
    {# Displaying checkboxes differently #}
    {% if field.name == 'tos' %}
      <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
      <i>{{ field.help_text }}</i>
    {% else %}
      {{ field.label_tag }}
      {{ field.errors }}
      {{ field }}
      <i>{{ field.help_text }}</i>
    {% endif %}
  {% endfor %}

  <div class="buttons">
    <input type="submit" value="{% trans "Save changes" %}">
  </div>
</form>
{% endblock %}
