{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}


{% block title %}{% trans "Signin" %}{% endblock %}

{% block content %}
<h1>{% trans "Signin" %}</h1>
<form action="" method="POST">
  {% csrf_token %} 

  {{ form.non_field_errors }}

  <span class="right">
    <a href="{% url 'userena_signup' %}" title='{% trans "Register new account" %}'>{% trans "Don't have?" %}</a>
  </span>
  {{ form.identification.label_tag }}
  {{ form.identification.errors }}
  <input type="text" id='id_{{ form.identification.name }}' name='{{ form.identification.name }}' pattern="[a-zA-Z]{1}[a-zA-Z@.+-_#]*" value="{% if form.identification.value %}{{ form.identification.value }}{% endif %}" placeholder="{% trans "Username" %}" tabindex=1 autofocus required>

  <span class="right">
    <a href="{% url 'userena_password_reset' %}" title='{% trans "Reset password" %}' tabindex=4>{% trans "Forgot?" %}</a>
  </span>
  {{ form.password.label_tag }}
  {{ form.password.errors }}
  <input type="password" id='id_{{ form.password.name }}' name='{{ form.password.name }}' value="{% if form.password.value %}{{ form.password.value }}{% endif %}" placeholder="{% trans "Password" %}" tabindex=2 required>

  {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}

  <div class="buttons">
    <label class="left" for="id_{{ form.remember_me.name }}">{{ form.remember_me }} {{ form.remember_me.label }}</label>
    <input type="submit" tabindex=3 value="{% trans 'Log in' %}">
  </div>
</form>
{% endblock %}
